<%= form_with(model: polla, local: true) do |form| %>
    <% if polla.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(polla.errors.count, "error") %> prohibited this polla from being saved:</h2>
  
        <ul>
        <% polla.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="container container-matches">
        <% GROUP_A.each do |m| %>
          <%= render 'marker', c1:m.team_1_name, c2:m.team_2_name %>
        <% end %>
    </div>

  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  