<div class="card bg-light">
  <%= form_with(model: polla, local: true) do |form| %>
      <% if polla.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(polla.errors.count, "error") %> prohibited this polla from being saved:</h2>
    
          <ul>
          <% polla.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <div class="container container-pagination">
      <ul class="pagination pagination-lg justify-content-center card-header">
        <li class="page-item active" id="instructions"><a class="page-link">Instrucciones</a></li>
        <li class="page-item" id="group-phase"><a class="page-link">Fase de Grupos</a></li>
        <li class="page-item disabled" id="quarter-finals"><a class="page-link" aria-disabled="true">Cuartos de Final</a></li>
        <li class="page-item disabled" id="semifinals"><a class="page-link" aria-disabled="true">Semifinales</a></li>
        <li class="page-item disabled" id="finals"><a class="page-link" aria-disabled="true">Final</a></li>
      </ul>
      <%= render 'layouts/instructions' %>
      <%= render 'layouts/group-phase', sortable: 'sortable' %>
      <%= render 'layouts/quarter-finals', info: 1 %>
      <%= render 'layouts/semifinals' %>
      <%= render 'layouts/finals', create: 1 %>
    </div>
    <input type="hidden" id="first_round_a" name="first_round_a" value="[bo, br, pe, ve]">
    <input type="hidden" id="first_round_b" name="first_round_b" value="[ar, co, py, qa]">
    <input type="hidden" id="first_round_c" name="first_round_c" value="[cl, ec, jp, uy]">
    <input type="hidden" id="quarter_final" name="quarter_final" value="">
    <input type="hidden" id="semifinal" name="semifinal" value="">
    <input type="hidden" id="third_place" name="third_place" value="">
    <input type="hidden" id="final" name="final" value="">
    <% end %>
</div>
  