<h2>Pollas</h2>
<hr>
<div class="row">
<div class="col-ld-8">
  <table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Usuario</th>
      <th>Puntaje</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <tbody>
    <% @pollas.each do |polla| %>
          <tr>
            <td><%= polla.id %></td>
            <td><%= polla.name %></td>
            <td><%= polla.user.name %></td>
            <td><%= polla.score %></td>
            <% if polla.valid == 1 %>
            <td><%= 'Pagada' %></td>
            <% else %>
            <td><%= 'No pagada'%></td>
            <td><a href=<%= pagar_polla_path(polla) %> Pagar </a></td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>