<%= form_with(model: bet, local: true) do |form| %>
    <% if answer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
  
        <ul>
        <% answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :result_team_1 %>
      <%= form.text_field :result_team_1, id: :bet_result_team_1 %>
    </div>
  
    <div class="field">
      <%= form.label :result_team_2 %>
      <%= form.text_field :result_team_2, id: :bet_result_team_2 %>
    </div>

    <div class="field">
      <%= form.label :result %>
      <%= form.text_field :result, id: :bet_result %>
    </div>

    <div class="field">
      <%= form.label :ejemplo %>
      <%= form.text_field :result, id: :bet_result %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  