<%= form_with(model: user, local: true, html: {class: 'form-signin'}) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this polla from being saved:</h2>
  
        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <h1 class="h2 mb-3 font-weight-normal">Regístrate</h1>
    <label for="inputEmail" class="sr-only">Correo electrónico</label>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required>
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <label for="inputFirstName" class="sr-only">Nombre</label>
    <input type="firstName" id="inputFirstName" name="first_name" class="form-control" placeholder="First name" required>
    <label for="inputLastName" class="sr-only">Apellido</label>
    <input type="LastName" id="inputLastName" name="last_name" class="form-control" placeholder="Last name" required>
    <label for="inputPhoneNumber" class="sr-only">Teléfono</label>
    <input type="PhoneNumber" id="inputPhoneNumber" name="phone_number" class="form-control" placeholder="Phone Number" required> 
    
    <br>

    <div class="actions">
      <button id="register-btn" href= form.submit class="btn btn-lg btn-primary btn-block">Crear cuenta</button>
    </div>
    <br/>
    <p>¿Ya tienes una cuenta?</p>
    <a class="btn btn-lg btn-light btn-block" href="<%= login_path %>">Inicia sesión</a>
    <hr />
    <%= render 'layouts/external-accounts' %>
    <% end %>