<main role="main" class="inner cover">
  <h2>Usuarios</h2>
  <hr>
  <table class="table table-striped table-bordered table-hover table-light">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Nº Teléfono</th>
      <th>Acciones</th>
      <th>Créditos</th>
    </tr>
  </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %> </td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td id="input-number-cell">
          <%= form_for user, :url => {:action => "update_credits", :id => user.id} do |f| %>
            <%= f.number_field :credits %><br>
            <%= f.submit "Guardar", class: 'btn-primary' %>
          <% end %>
        </td>

    </tr>
    <% end %>
    </tbody>
  </table>
</main>