<ul class="list-group list-group-group-phase" id=<%= group %>>
    <li class="list-group-item active">Grupo <%= group %></li>
    <li class="list-group-item groups">
        <ul class="list-group groups standings">
            <li class="list-group-item groups standing">1째</li>
            <li class="list-group-item groups standing">2째</li>
            <li class="list-group-item groups standing">3째</li>
            <li class="list-group-item groups standing">4째</li>
        </ul>        
        <ul class="list-group sortable groups">
            <% GROUPS[group].each_with_index do |c, index| %>
                <li class="list-group-item country" id='<%= c %>'>
                    <%= flag_icon(c) %>
                    <div class="country-name"><%= COUNTRIES_NAME[c] %></div>
                </li>
            <% end %>
        </ul>
    </li>
</ul>