<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">11chupaloent11</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link <%= @active == 'home' ? 'active' : ''%>" href="<%= root_path %>">Home</a>
            <a class="nav-link" href="#">Ranking</a>
            <a class="nav-link <%= @active == 'user' ? 'active' : ''%>" href="<%= new_session_path %>">Log In</a>
          </nav>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
