<!DOCTYPE html>
<html>
  <head>
    <title>Polla Proyecta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <a href="<%= root_path %>"><h3 class="masthead-brand">Polla Proyecta</h3></a>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link <%= @active == 'home' ? 'active' : ''%>" href="<%= root_path %>">Inicio</a>
            <a class="nav-link <%= @active == 'ranking' ? 'active' : ''%>" href=<%= ranking_path%>>Ranking</a>
            <a class="nav-link <%= @active == 'contact' ? 'active' : ''%>" href=<%= contact_path%>>Contáctate con nosotros</a>

            <% if current_user %>
              <a class="nav-link"" id="dropdownMenuButton" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hola, <%= current_user.name.split[0].capitalize %>▼
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href=<%= pollas_path %>>Mis pollas</a>
                <a class="dropdown-item" href="<%= signout_path %>">Cerrar sesión</a>
                <% if current_user.is_admin || current_user.is_mod || current_user.id == 2%>
                  <a class="dropdown-item" href=<%=validar_pagos_path%>>Validar Pagos</a>
                  <a class="dropdown-item" href=<%=transactions_path%>>Ver Transacciones</a>
                  <a class="dropdown-item" href=<%=pollas_totales_path%>>Ver Pollas</a>
                  <a class="dropdown-item" href=<%=users_path%>>Ver Usuarios</a>
                  <a class="dropdown-item" href=<%=new_result_path%>>Ingresar resultados</a>
                <%end%>
              </div>
            <% else %>
              <a class="nav-link <%= @active == 'user' ? 'active' : ''%>" href="<%= login_path %>">Log In</a>
            <% end %>
          </nav>
        </div>
      </header>
      <%= image_tag("proyecta.png") %>
      <%= yield %>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Polla for <a href="https://www.facebook.com/ProyectaUc/">Proyecta</a>, by <a href="mailto: ti@trabajosproyecta.cl">ti@trabajosproyecta.cl</a>.</p>
        </div>
      </footer>
    </div>
  </body>
  
</html>
